.table-credentials {
  min-width: 34rem;
}

.table-users {
  min-width: 30rem;
}

.table-role-matrix {
  min-width: 48rem;
}

.table-role-matrix td:first-child {
  font-weight: var(--font-medium);
}

.table-credentials td:first-child,
.table-credentials td:last-child {
  font-family: var(--font-mono);
}

.table-credentials thead th {
  font-weight: var(--font-semibold);
  color: var(--secondary-foreground);
  background-color: var(--secondary);
}

.table-action-cell {
  width: 10rem;
}
